@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

:root {
  /* dark shades of primary color*/
  --desaturated-dark-cyan: hsl(180, 29%, 50%);
  --light-grayish-cyan: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.filter-wrapper {
  height: 30px;
  background-color: var(--light-grayish-cyan);
  color: var(--desaturated-dark-cyan);
  padding-left: 15px;
  border-radius: 5px;
}

#test11 {
  margin: 0;
  height: 100%;
  color: white;
  background-color: var(--desaturated-dark-cyan);
  border: none;
  width: 30px;
  cursor: pointer;
  margin-left: 15px;
  font-size: 1rem;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#test11:hover {
  background-color: black;
}

body {
  font-family: "Spartan", sans-serif;
  background-color: hsl(185, 58%, 96%);
}

h1 {
  font-family: "Spartan";
  color: var(--desaturated-dark-cyan);
}

header {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 20vh;
  width: 100%;
  margin-bottom: 75px;
  background: url("./images/bg-header-desktop.svg") no-repeat
    var(--desaturated-dark-cyan);    no-repeat var(--desaturated-dark-cyan);
  background-size: cover;
}

.main-Wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

article {
  position: relative;
  background-color: white;
  min-height: 150px;
  max-width: 1440px;
  width: 77%;
  margin-bottom: 25px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 0.25fr 1fr 1fr;
  padding: 15px 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 15px 11px -4px rgba(0, 0, 0, 0.945);
  -webkit-box-shadow: 9px 15px 11px -4px rgba(57, 108, 150, 0.13);
  -moz-box-shadow: 9px 15px 11px -4px rgba(172, 11, 11, 0.13);
}

.filter {
  margin-top: -110px;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  padding-left: 25px;
}

.filter-Wrapper {
  display: flex;
  height: 80px;
  background-color: white;
  z-index: 1000;
  position: relative;
  top: -110px;
  margin-bottom: -70px;
  width: inherit;
  max-width: inherit;
  left: calc(12.4%);
  right: calc(12.4%);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 9px 15px 11px -4px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 9px 15px 11px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 9px 15px 11px -4px rgba(0, 0, 0, 0.13);
}

.filter-btns {
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filter #clear-btn {
  margin-right: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--desaturated-dark-cyan);
  font-size: 0.95rem;
  letter-spacing: 1px;
}

.filter #clear-btn:hover {
  text-decoration: underline;
}

.filter-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.job-desc-Wrapper {
  color: black;
}

.job-languages-Wrapper {
  display: flex;
}

.feautured {
  border-left: 5px solid;
  border-left-color: var(--desaturated-dark-cyan);
  color: white;
}

.job-img-Wrapper {
  justify-self: center;
  align-self: center;
  margin-top: 10px;
}

img {
  justify-content: center;
  justify-self: center;
  margin-right: 20px;
}

h3 {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1.15rem;
  color: var(--very-dark-grayish-cyan);
}
h3:hover {
  color: var(--desaturated-dark-cyan);
}

.desc-company {
  color: var(--desaturated-dark-cyan);
  margin-right: 15px;
  font-weight: bold;
  font-size: 0.9rem;
}

.desc-new {
  background-color: var(--desaturated-dark-cyan);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
  width: 50px;
  border-radius: 25px;
  margin-right: 10px;
  font-size: 0.65rem;
  font-weight: bold;
  text-transform: uppercase;
}

.desc-new,
.desc-feautured p {
  padding-top: 7px;
  padding-bottom: 4px;
}

.desc-featured {
  background-color: var(--very-dark-grayish-cyan);
  width: 80px;
}

ul {
  display: flex;
}
li {
  list-style-type: none;
  margin-right: 30px;
  padding-left: 15px;
  color: var(--dark-grayish-cyan);
  font-size: 0.9rem;
}

li::before {
  content: "•";
  color: lightgray;
  display: inline-block;
  width: 1.5em;
  margin-left: -2em;
}

#no-deko::before {
  list-style-type: none;
  padding-left: 0px;
  color: transparent;
  margin-left: -2.5em;
}

.job-skills {
  display: flex;
  justify-self: end;
  align-self: center;
  flex-wrap: wrap;
  padding-left: 10px;
}
.job-skills button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--desaturated-dark-cyan);
  background-color: var(--light-grayish-cyan);
  border: none;
  border-radius: 5px;
  margin: 10px 15px 5px 0px;
  padding: 8px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.job-skills button:hover {
  background-color: var(--desaturated-dark-cyan);
  color: white;
}

@media screen and (max-width: 1100px) {
  article {
    width: 90%;
  }
  .job-skills button {
    margin: 10px 5px 5px 0px;
  }
}

@media screen and (max-width: 950px) {
  article {
    width: 95%;
    grid-template-columns: 0.15fr 1fr 1fr;
  }
  img {
    width: 70px;
  }

  ul {
    display: flex;
  }
  li {
    list-style-type: none;
    color: var(--dark-grayish-cyan);
    font-size: 0.8rem;
  }
  li::before {
    content: "•";
    color: lightgray;
    display: inline-block;
    width: 0.5em;
    margin-left: -3em;
  }
  #no-deko::before {
    list-style-type: none;
    padding-left: 0px;
    color: transparent;
    margin-left: -1.5em;
  }
  h3 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 720px) {
  article {
    width: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
  }
  .job-img-Wrapper {
    position: absolute;
    top: -35px;
    left: 25px;
  }
  .job-desc-Wrapper {
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  h3 {
    margin: 15px 0px;
  }
  img {
    width: 50px;
  }

  .job-skills {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 0px;
    width: 100%;
    margin-top: 10px;
  }
  .job-skills button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--desaturated-dark-cyan);
    background-color: var(--light-grayish-cyan);
    border: none;
    border-radius: 5px;
    margin: 10px 15px 5px 0px;
    padding: 8px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .filter {
    min-height: 40px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding-left: 25px;
  }
  .filter-wrapper {
    height: 30px;
    background-color: var(--light-grayish-cyan);
    color: var(--desaturated-dark-cyan);
    padding-left: 5px;
    border-radius: 5px;
  }

  #test11 {
    margin-left: 10px;
  }

  .filter #clear-btn {
    color: grey;
  }

  .filter #clear-btn:hover {
    color: var(--desaturated-dark-cyan);
  }
}
